body {
  color: white;
  margin: 0.7rem;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 750px) {
  h2 {
    padding: 0;
    display: flex;
    margin: 0;
  }

  .heading-name {
    color: rgb(186, 186, 186);
  }

  header {
    display: inline;
  }

  .heading-introduction-div {
  }

  .heading-introduction {
    margin-top: 0.7rem;
    font-size: clamp(25px, 30vw, 40px);
    width: clamp(17rem, 30vw, 50rem);
    word-wrap: break-word;
  }

  .hidden-ul {
    display: none;
  }

  .ul {
    font-size: 13.3px;
    padding: 0;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }

  li {
    display: inline;

    z-index: 1;
  }

  /* .hidden-dott-icon {
    display: none;
  } */

  .dott-icon-div {
    z-index: 99;

    float: right;
    position: absolute;
    margin-top: -33px;
    margin-left: 20rem;
  }
  #dott-icon {
    font-size: clamp(1rem, 5vw, 1.3rem);
    cursor: pointer;
  }

  .introduction-paragraph-div {
    padding-right: clamp(5rem, 5vw, 20rem);
  }

  .introduction-paragraph {
    display: block;
    text-align: left;
    font-size: clamp(10px, 30vw, 25px);
    width: clamp(17rem, 10vw, 20rem);
  }
  .break-after-hero {
    border-top: 1.5px solid rgb(255, 255, 255);
  }
  .my-work-heading {
    padding-top: 1rem;
    display: flex;
    font-size: clamp(10px, 30vw, 30px);
  }
  .my-rock-paper-scissors-div {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 0.5rem;
    padding: 4rem;
  }
  #info-icon-work01 {
    padding: 0;
    display: flex;
    justify-content: right;
    margin-top: -60px;
    margin-right: -60px;
    cursor: pointer;
  }
  #icon-work01 {
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin: auto;
    padding: 0rem;
    cursor: pointer;
  }
  .my-work01-link {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  #fcf-form {
    display: block;
  }

  .fcf-body {
    margin-top: 3rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    max-width: 100%;
  }

  .fcf-form-group {
    margin-bottom: 1rem;
  }

  .fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }

  .fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .fcf-form-control:focus {
    border: 1px solid #313131;
  }

  select.fcf-form-control[size],
  select.fcf-form-control[multiple] {
    height: auto;
  }

  textarea.fcf-form-control {
    height: auto;
  }

  label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
  }

  .fcf-credit a {
    color: #545b62;
    text-decoration: underline;
  }

  .fcf-credit a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  .fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .fcf-btn {
      transition: none;
    }
  }

  .fcf-btn:hover {
    color: #212529;
    text-decoration: none;
  }

  .fcf-btn:focus,
  .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .fcf-btn-primary {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #ffffff;
  }

  .fcf-btn-primary:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .fcf-btn-primary:focus,
  .fcf-btn-primary.focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }

  .fcf-btn-lg,
  .fcf-btn-group-lg > .fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }

  .fcf-btn-block {
    display: block;
    width: 100%;
  }

  .fcf-btn-block + .fcf-btn-block {
    margin-top: 0.5rem;
  }

  input[type="submit"].fcf-btn-block,
  input[type="reset"].fcf-btn-block,
  input[type="button"].fcf-btn-block {
    width: 100%;
  }
}
