body {
  color: white;
  margin: 0.7rem;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 750px) {
  h2 {
    padding: 0;
    display: flex;
    margin: 0;
  }

  .heading-name {
    color: rgb(186, 186, 186);
  }

  header {
    display: inline;
  }

  .heading-introduction-div {
  }

  .heading-introduction {
    margin-top: 0.7rem;
    font-size: clamp(25px, 30vw, 40px);
    width: clamp(17rem, 30vw, 50rem);
    word-wrap: break-word;
  }

  .hidden-ul {
    display: none;
  }

  .ul {
    font-size: 13.3px;
    padding: 0;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
  }

  li {
    display: inline;

    z-index: 1;
  }

  /* .hidden-dott-icon {
    display: none;
  } */

  .dott-icon-div {
    z-index: 99;

    float: right;
    position: absolute;
    margin-top: -33px;
    margin-left: 20rem;
  }
  #dott-icon {
    font-size: clamp(1rem, 5vw, 1.3rem);
    cursor: pointer;
  }

  .introduction-paragraph-div {
    padding-right: clamp(5rem, 5vw, 20rem);
  }

  .introduction-paragraph {
    display: block;
    text-align: left;
    font-size: clamp(10px, 30vw, 25px);
    width: clamp(17rem, 10vw, 20rem);
  }
  .break-after-hero {
    border-top: 1.5px solid rgb(255, 255, 255);
  }
  .my-work-heading {
    display: flex;
  }
}
